html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background-color: hsl(204, 43%, 93%);
    min-height: 100vh; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 30px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 14px 1px #00000024;
}

.block {
    padding: 30px;
}

.block1 {
    background-color: white;
}

.block1 h2 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 25px;
}

.block1 h3 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 20px;
}

.block1 p {
    color: hsl(218, 22%, 67%);
}

.block2{
    background-color: hsl(179, 62%, 43%);  
}

.block3 {
    border-radius: 5px;

    background-color: hsl(179, 68%, 52%);

    
}   

/* Footer */
.attribution {
    font-size: 11px; text-align: center; 
}
    
.attribution a {
    color: hsl(228, 45%, 44%); 
}

